:root {
  --cigarette-diameter: 10vw;
}

@media (width > 1100px) {
  .cigarette-box {
    --cigarette-diameter: 2rem;
  }
}

.material-icons {
  font-family: material-icons;
}

.d-flex {
  display: flex;
}

.cigarette-box {
  border: 1px solid grey;
  display: inline-block;
}

.circle {
  width: var(--cigarette-diameter);
  height: var(--cigarette-diameter);
  margin: calc(var(--cigarette-diameter) / 16);
  background-color: hsl(0, 0%, 95%);
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 50%);
}

.circle.smoked {
  background-color: hsl(0, 0%, 50%);
}

.hole {
  width: calc(var(--cigarette-diameter) / 2);
  height: var(--cigarette-diameter);
}
