:root {
  --cigarette-diameter: 8rem;
}

@media (width > 1100px) {
  .cigarette-box {
    --cigarette-diameter: 2rem;
  }
}

.material-icons {
  font-family: material-icons;
}

.d-flex {
  display: flex;
}

.circle {
  width: var(--cigarette-diameter);
  height: var(--cigarette-diameter);
  background-color: yellow;
  border-radius: 50%;
  border: 1px solid orange;
}

.circle.smoked {
  background-color: red;
}

.hole {
  width: calc(var(--cigarette-diameter) / 2);
  height: var(--cigarette-diameter);
}
